[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/hazmanot/src
Environment="PATH=/home/ubuntu/hazmanot/src/hazmanotenv/bin"
ExecStart=/home/ubuntu/hazmanot/src/hazmanotenv/bin/uwsgi --ini hazmanot.ini

[Install]
WantedBy=multi-user.target